.main {
    display: flex;
}

.filter-List {
    justify-content: flex-start;
    gap: 12px;
    background: none;
    margin-bottom: 0;
}

.filter-List li {
    display: flex;
    gap: 10px;
    padding-left: 10px;
}

.filter-List li:nth-child(2) {
    border: none;
}

.filter-List .form-select {
    background-color: transparent;
    border: 0;
    display: inline-block;
    padding: 0.5em 2.5em 0.5em 1em;
    margin: 0;
    font-size: 14px;
    color: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image:
        linear-gradient(45deg, transparent 50%, #5e599d 50%),
        linear-gradient(135deg, #5e599d 50%, transparent 50%);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
}

.filter-List .form-select:focus {
    background-image:
        linear-gradient(45deg, #5e599d 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, #5e599d 50%);
    background-position:
        calc(100% - 15px) 1em,
        calc(100% - 20px) 1em,
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
    outline: 0;
    box-shadow: none;
}

.filter-List .form-select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.filter-List .form-select option {
    background-color: black;
}

.filter-List li.main-li {
    background: #695ffa;
    padding: 8px 18px;
}

.filter-main {
    display: flex;
    background-color: #8177fd;
    margin-bottom: 20px;
    border-radius: 8px;
    align-items: center;
}

.filter-datepicker {
    margin-right: 12px;
}

.filter-main .select__control,
.filter-main .select__control--is-focused {
    background: transparent;
    color: white;
    border: none;
}

.filter-main .select__control--is-focused:hover {
    border: none;
    box-shadow: none;
}

.filter-main .select__single-value {
    color: white;
    font-weight: 500;
    font-size: 12px;
}

.filter-main .select__indicators .select__indicator-separator {
    width: 0;
}

.filter-main .select__indicators .select__indicator {
    color: white;
    padding-left: 0;
}

.filter-main .select__control--is-disabled .select__single-value,
.filter-main .select__control--is-disabled .select__indicator {
    color: #ccc;
}


.filter-main .select__placeholder {
    color: white;
    font-size: 12px;
    white-space: nowrap;
}

.filter-datepicker {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #fff;
    padding-bottom: 4px;
}

.filter-datepicker input {
    background: transparent;
    border: none;
    color: white;
    width: inherit;
}

.filter-datepicker input:focus-visible {
    outline: none;
}

.filter-datepicker .react-datepicker__input-container {
    width: 96px;
}

.filter-datepicker svg {
    color: white;
    font-size: 26px;
}

.product-details {
    display: flex;
    width: 100%;
}

.products-main {
    width: 15%;
}

.product-details-main-settings {
    width: 15%;
}

.graph-card {
    margin: 10px;
}

.products-main .product-dropdown {
    height: 47px;
    background-color: #6c62fa;
    color: white;
    display: flex;
    align-items: center;
    padding: 12px;
    justify-content: space-between;
    cursor: pointer;
}

.products-main .product-dropdown h6 {
    margin-bottom: 0;
}

.products-main .product-dropdown svg {
    color: #b9b4ff;
}

.products-main .product-dropdown.show svg {
    transform: rotate(180deg);
}

.product-details-main-graph {
    width: 70%;
}

.product-details-main-graph>h3 {
    height: 47px;
    display: flex;
    align-items: center;
    border-radius: 0;
    justify-content: center;
}

.filterBtn {
    background-color: #F18586;
    border: none;
    color: white;
    border-radius: 5px;
    margin-right: 10px;
    transition: 0.3s;
    cursor: pointer;
    padding: 6px 12px;
}

.filterBtn.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.filterBtn:hover {
    background-color: #eb6364;
}

.bodyLeftList h6 {
    text-align: center;
    padding: 10px;
}

.bodyLeftList li {
    cursor: pointer;
}

.bodyLeftList li.active {
    background-color: #6c62fa;
    color: white;
    border: 1px solid #fff;
}

.bodyLeftList {
    border: 1px solid #6c62fa;
    background-color: white;
}

.PriceList {
    gap: 10px;
}

.PriceList li {
    display: flex;
    gap: 10px;
    align-items: center;
}

.PriceList li label {
    font-weight: 600;
    line-height: 16px;
}

.PriceList li input {
    background-color: #7269ff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 3px 12px;
    width: 120px;
    font-size: 12px;
}

.PriceList li span {
    text-decoration: underline;
    color: blue;
}

.products-main .product-dropdown h6.media-body {
    font-size: 16px;
}

.bodyRightList {
    background-color: white;
    padding: 30px 10px;
    box-shadow: 0px 0px 6px 1px #ccc;
    border-radius: 0 0 4px 4px;
    margin-bottom: 50px;
}

.bodyRightList .item {
    margin-bottom: 30px;
}

.bodyRightList .item>input {
    border-radius: 4px;
    box-shadow: 0px 0px 4px 1px #ccc;
    padding: 3px 10px;
    width: 100%;
}

.bodyRightList .item h6 {
    font-size: 15px;
}

.filter-radio .custom-radio input {
    accent-color: #7269ff;
    margin-right: 5px;
}

.main-sub {
    width: 100%;
}

.graph-cus {
    width: 100%;
    margin-bottom: 20px;
}

.graph_head {
    display: flex;
}

.headline {
    width: 100%;
}


.data-column .price-effect {
    margin-bottom: 20px;
}

.data-column .price-effect .heading {
    background-color: #f18586;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 8px 8px 0 0;
}

.data-column .price-effect .heading h3 {
    color: white;
    font-size: 20px;
    margin-bottom: 0;
    height: auto;
}

.data-column .price-effect .heading svg {
    color: white;
    font-size: 22px;
}

.data-column .price-effect .content {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    border-left: 1px solid #f18586;
}

.data-column .price-effect .content .item {
    padding: 0 5px;
    border-bottom: 1px solid #f18586;
    border-right: 1px solid #f18586;
}

.data-column .price-effect .content .item i {
    font-weight: 600;
}

.data-column .price-effect.gram-effect .heading {
    background-color: #bfbbff;
}

.data-column .price-effect.gram-effect .content {
    border-left: 1px solid #bfbbff;
}

.data-column .price-effect.gram-effect .content .item {
    border-bottom: 1px solid #bfbbff;
    border-right: 1px solid #bfbbff;
}

.data-column .price-effect.total-effect .heading {
    background-color: #7269ff;
}

.data-column .price-effect.total-effect .content {
    border-left: 1px solid #7269ff;
}

.data-column .price-effect.total-effect .content .item {
    border-bottom: 1px solid #7269ff;
    border-right: 1px solid #7269ff;
}